.form-group{
    color:rgb(100, 94, 94);
}

.name-box{
    width: 60%;
}

.post-box{
    width: 60%;
    height: 100px;
    font-family: symbol;
}


.create-button{
    border-radius: 12px;
    border-color: darkgrey;
    background-color: rgb(179, 208, 208);
    display: flex;
    margin-left: 88%;

}

