body {
    background-color:rgb(179, 208, 208);
    width: 100%;
}

.feed-container {
    margin-left: 25%;
    margin-right: 25%;
}

.border-box {
    background-color: white;
    color: dark gray;
    border: 1px;
    border-style: solid;
    border-color: gray;
    margin: 1em;
    padding: 1em;
    box-shadow: 10px 10px 15px 0px rgba(148,117,117,0.75);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(148,117,117,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(148,117,117,0.75);
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

